.item1{
    grid-area: header;
    background-color: rgb(240, 171, 140);
}
.item2{
    grid-area: menu;
    background-color: yellowgreen;
}
.item3{
    grid-area: main;
    background-color: azure;
}
.item4{
    grid-area: right;
    background-color:lightseagreen;
}
.item5{
    grid-area: footer;
    background-color: indigo;
}

.grid-container{
    display: grid;
    grid-template-areas: 'header header header header header header'
                         'menu main main main right right'
                         'footer footer footer footer footer footer';
                         
    gap: 12px;
    padding: 10px;
    background-color: white;
}

.grid-container > div {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    text-decoration: indigo;
    font-size: 30px;
    padding: 20px;
}

